.main-title {
    text-align: center;
}
#operation {
	text-align: center;
}
#operation button {
	padding: 5px;
	margin: 10px;
	font-size: 20px;
}
.sudoku-container {
	margin: 0 auto;
	border: 5px solid #ccc;
}
.sudoku-container.solved {
	border: 5px solid green;
}
.sudoku-container input {
	height: 40px;
	width: 40px;
	background-color: transparent;
	border: 1px solid #ccc;
	font-size: 20px;
	text-align: center;
}
.sudoku-container input.filled {
	color: green;
}
.sudoku-container .section-odd {
}
.sudoku-container .section-even {
    background-color: #ccc;
}