html, body {
	width: 100%;
	margin: 0;
	font-family: SimHei;
}
.main-title {
	color: #088ef0;
}
#container {
	width: 100%;
}
.main-title {
    text-align: center;
}
#operation {
	text-align: center;
}
#operation button {
	margin: 20px 10px;

	font-size: 20px;
}
.sudoku-container {
	margin: 0 auto;
	border: 5px solid #ccc;
	border-radius: 5px;
}
.sudoku-container.solved {
	border: 5px solid #088ef0;
}
.sudoku-container.invalid {
	border: 5px solid #e76328;
}
.sudoku-container input {
	height: 30px;
	width: 30px;
	background-color: transparent;
	border: 1px solid #ccc;
	font-size: 20px;
	text-align: center;
}
.sudoku-container input.filled {
	color: #088ef0;
}
.sudoku-container input.invalid {
	background-color: #ffc9d7;
}
.sudoku-container input.duplicated {
	background-color: #fdb696;
}
.sudoku-container .section-odd {
}
.sudoku-container .section-even {
    background-color: #ccc;
}
@media screen and (max-width: 320px) {
	.sudoku-container input {
		width: 25px;
		height: 25px;
	}
}